/* about-panel.css */

#aboutPanel {
  left: 5px;
  top: 5px;
  text-align: center;
  z-index: 3;
}

#githubLink {
  font-size: 18px;
  background: none;
  padding: 0;
  margin: 0;
}

.about-panel-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-label {
  font-size: 16px;
  color: #d8d4cf;
}

.action-buttons {
  display: flex;
  gap: 10px;
}


