/* Animation panel stuff */
#animationPanel {
  top: 101px;
  left: 5px;
  background-color: #181a1b;
  border: 1px solid #3e4446;
  border-radius: 5px;
  color: #d8d4cf;
  position: absolute;
  z-index: 2;
  transition: transform 0.4s ease; /* Sliding animation */
}

.animation-button {
  margin: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #202020;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.animation-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.animation-buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.animation-button {
}

.animation-button:hover {
  background: #e0e0e0;
  transform: scale(1.1);
}

.animation-button i {
  pointer-events: none; /* Ensure clicks pass through to the button */
}


