/* chromalink-panel.css */
#chromalinkPanel {
  background-color: #181a1b;
  border: 1px solid #3e4446;
  border-radius: 5px;
  color: #d8d4cf;
  padding: 10px;
  position: absolute;
  width: 150px;
  z-index: 4;
  top: 5px;
  right: 390px;
  width: 200px;
}

#chromalinkPanel h2 {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}

.chromalink-button {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0 0 0;
  background-color: #444;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chromalink-button:hover {
  background-color: #666;
}

.chromalink-update-progress-container {
  margin: 5px;
  margin-top: 10px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}

.chromalink-update-progress-bar {
  width: 100%;
  height: 100%;
  position: relative;
}

.device-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.device-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#firmwareProgress {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

#firmwareProgressBar {
  height: 100%;
  background-color: #007bff;
  width: 0;
  transition: width 0.3s ease;
}



/* Styling for the erase modes checkbox */
#eraseModesCheckbox {
    margin: 5px;
}

.chromalink-checkbox-container {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    font-size: 14px; /* Match font size with buttons */
    color: #d8d4cf; /* Consistent text color */
    padding-left: 25px;
}

.chromalink-checkbox-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #007bff; /* Matches the theme color */
}

.chromalink-checkbox-container label {
    cursor: pointer;
}

