/* Colorset Panel */
#colorsetPanel {
  z-index: 3;
}

#colorset-status {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 10px;
  color: #fff;
}

#colorset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 6px;
  overflow-x: auto;
  flex-wrap: nowrap; /* Prevent wrapping */
  min-height: 52px; /* Consistent container height */
}

/* Color Cube Styling */
.color-cube {
  width: 32px; /* Consistent width */
  height: 32px; /* Consistent height */
  border-radius: 8px;
  background: #333;
  box-shadow: 0 0 10px #222;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-cube.selected {
  border: 3px solid white;
  outline: 2px solid black;
}

.color-cube:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.color-cube.add-color {
  background: #444;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.color-cube.add-color:hover {
  background: #555;
  transform: scale(1.2);
}

.color-cube.empty {
  background: transparent;
  border: 2px dashed #555;
  box-shadow: none;
}


#colorset-randomize {
  font-size: 22px;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}


#colorset-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.preset-button {
  font-size: 22px;
  width: 32px;
  height: 32px;
  border: 2px solid #555;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-right: 8px;
}

.preset-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#colorset-preset-rainbow {
  background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
}
#colorset-preset-grayscale {
  background: linear-gradient(135deg, #000, #333, #666, #999, #ccc, #eee, #fff);
}
#colorset-preset-pastel {
  background: linear-gradient(135deg, #FFB3BA, #FFDFBA, #FFFFBA, #BAFFC9, #BAE1FF);
}
#colorset-preset-dark {
  background: linear-gradient(135deg, #200, #444, #006);
}
#colorset-preset-one {
  background: red;
}
#colorset-preset-two {
  background: linear-gradient(90deg, red 50%, #00a2e8 50%);
}
#colorset-preset-three {
  background: linear-gradient(90deg, red 0%, red 33.33%, green 33.33%, green 66.66%, #00a2e8 66.66%, #00a2e8 100%);
}
#colorset-preset-four {
  background: linear-gradient(90deg, red 0%, red 25%, green 25%, green 50%, #00a2e8 50%, #00a2e8 75%, orange 75%, orange 100%);
}

.colorset-empty-label {
  text-align: center;
  color: #454545;
  font-size: 24px;
  font-style: italic;
  margin: 0 auto;
  display: none; /* Initially hidden */
}

