/* colorset panel */
#colorsetPanel {
  left: 5px;
  top: 495px;
  z-index: 3;
}

#colorset {
  display: column;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Space between slots */
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #444; /* Border for all slots */
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-radius: 5px;
  padding: 0;
  margin-left: 0;
  margin-bottom: 3px;
  height: 40px; /* Fixed height */
  box-sizing: border-box; /* Include padding in size */
  overflow: none;
  transition: transform 0.2s ease;
  position: relative;
}

.color-box.empty {
  background: #1a1a1a; /* Dark background for empty slots */
  border: 2px dashed #666; /* Dotted border for empty slots */
  color: #999; /* Placeholder text color */
  justify-content: center; /* Center content */
  overflow: none;
}

.color-box.empty:hover {
  background: #222; /* Slightly darker on hover */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.color-box .color-hex-input:focus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.color-box .color-entry:hover {
  flex: 0 0 50%;
}

.color-box.dragging {
  margin-top: 50px;
  position: static;
  pointer-events: none;
  border: 1px solid gray;
}

.color-box.placeholder {
  background: rgba(0, 0, 0, 0.1);
  border: 2px dashed #ccc;
  height: 50px; /* Match the color box height */
}

.color-box.over {
  transform: translateY(10px); /* Example visual cue */
}

.color-entry {
  width: 50px;
  display: inline-block;
  flex: 0 0 30%; /* Take 30% of the box width */
  height: 100%;
  cursor: pointer;
  border: none;
  border-right: 2px solid #333;
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: flex 0.3s ease; /* Smooth transition for width */
}

.color-hex-input {
  flex: 1; /* Fill remaining space */
  border: none;
  background: transparent;
  color: #fff;
  padding: 0 5px;
  text-align: center;
}

.delete-color {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  user-select:none;
  margin-right: 10px;
}

.delete-color:hover,
.delete-color:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
  user-select:none;
}

/* TODO: MAYBE? Container for the selected LEDs bar */
#colorset-selected-leds {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #3e4446;
}
/* Individual LED dots */
.led-dot {
  width: 10px;
  height: 10px;
  background: #444;
  border-radius: 50%;
  margin: 2px;
}
.led-dot.selected {
  background: #00ff00; /* Green for selected */
}
