/* mobile-led-select-panel.css */
#ledSelectPanel {
  width: 100%;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #292c2e;
}

#ledSelectPanel .led-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

#ledSelectPanel .led-grid div {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #454545;
  background-color: #202020;
}
