/* mobile-device-panel.css */
#devicePanel {
  top: 5px;
  right: 5px;
  z-index: 5;
}

#deviceConnectionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjusts button positioning */
  align-items: center;
}

.device-control-btn {
  margin-left: 10px;
}

.device-control-btn.disconnect {
  background-color: #ff4d4d; /* Red background for disconnect */
  color: #fff; /* White text */
}

.device-control-btn.disconnect:hover {
  background-color: #e63939; /* Darker red on hover */
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-dropdown-select {
  cursor: pointer;
  padding: 10px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #454545;
  border-radius: 4px;
  background-color: #181a1b;
  color: #d8d4cf;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
}

.custom-dropdown-select:hover {
  background-color: #3e4446;
  color: #ffffff;
}

.custom-dropdown-select:active {
  background-color: #2e3436;
}

.custom-dropdown-select img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.custom-dropdown-options {
  display: none;
  position: absolute;
  background-color: #121212;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 100%;
}

.custom-dropdown-options.show {
  display: block;
}

.custom-dropdown-option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-dropdown-option img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.custom-dropdown-option:hover {
  background-color: #252525;
}

#deviceTypeSelected.locked {
  cursor: default;
  opacity: 0.6;
}


