/* mobile-about-panel.css */
#aboutPanel {
  width: 100%;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #292c2e;
}

#aboutPanel .about-panel-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#aboutPanel .about-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#aboutPanel .action-buttons {
  display: flex;
  justify-content: space-evenly;
}

