/* mobile-color-picker-panel.css */
#colorPickerPanel {
  width: 100%;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #292c2e;
}

#colorPickerPanel .color-picker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

#colorPickerPanel .color-picker div {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #454545;
}

