/* Base styles */
* {
  user-select: none;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}

canvas {
  position: absolute;
  z-index: 1;
}

/* Shared Button Styles */
button {
  background-color: #202020;
  color: #d8d4cf;
  border: 1px solid #454545;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 20px;
  width: 52px;
}

button:hover {
  background-color: #3e4446;
}

/* Form Elements */
fieldset {
  border: 1px solid #3e4446;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

legend {
  color: #d8d4cf;
  padding: 0 5px;
}

i {
  color: #fff; /* Ensuring the icons are white */
}

.icon-button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  align-items: center;
  justify-content: center;
  background: none;
  color: inherit;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s;
  transition: transform 0.2s, color 0.2s;
}

.icon-button:hover {
  background-color: #444;
  color: #66ff66;
  transform: scale(1.1);
}

.icon-button:active {
  background-color: #555;
  transform: scale(1);
}

.icon-button {
}

.icon-button i {
  pointer-events: none; /* Prevent accidental selection of the icon */
}


