<!-- /js/mobile/views/ble-connect.html -->
<div class="ble-screen">
  <div class="ble-screen-inner">
    <div class="ble-center">
      <div class="ble-bt" aria-hidden="true">
        <i class="fa-brands fa-bluetooth-b"></i>
      </div>

      <div class="ble-device-wrap">
        <img class="ble-device-icon" src="{{deviceImg}}" alt="{{deviceAlt}}" />
      </div>

      <div class="ble-instructions text-secondary">
        {{instructions}}
      </div>
    </div>

    <div class="ble-actions">
      <button id="ble-connect-btn" class="btn btn-primary btn-lg w-100">
        Connect
      </button>

      <button id="back-btn" class="btn btn-link w-100 mt-2">
        Back
      </button>
    </div>
    <div class="skip-to-editor-link text-center mt-3">
      <a href="#" id="skip-to-editor">
        Skip to Editor
        <i class="fa-solid fa-arrow-right-long" style="margin-left: 0.4em;"></i>
      </a>
    </div>
  </div>
</div>

