<!-- js/mobile/views/conn-status.html -->
<div id="m-conn-status" class="m-conn-status is-hidden" role="status" aria-live="polite">
  <div class="m-conn-status__row">
    <div class="m-conn-status__device">
      <span id="m-conn-status-bt" class="m-conn-status__bt" aria-hidden="true">
        <i class="fa-brands fa-bluetooth-b"></i>
      </span>
    </div>

    <div class="m-conn-status__text">
      <div id="m-conn-status-title" class="m-conn-status__title">{{title}}</div>
      <div id="m-conn-status-subtitle" class="m-conn-status__subtitle">{{subtitle}}</div>
    </div>

    <div id="m-conn-status-ind" class="m-conn-status__ind" aria-hidden="true"></div>
  </div>
</div>
