<!-- js/mobile/views/settings-brightness-row.html -->
<div id="m-settings-brightness" class="m-settings-row">
  <div class="m-settings-row-label">
    <div class="m-settings-row-title">Brightness</div>
    <div class="m-settings-row-subtitle">Device brightness</div>
  </div>

  <div class="m-settings-row-control">
    <i class="fa-solid fa-sun m-settings-icon" aria-hidden="true"></i>
    <input type="range" id="m-brightness-slider" min="0" max="255" step="1" value="255" />
    <div id="m-brightness-value" class="m-settings-value">255</div>
  </div>
</div>

