<!-- js/mobile/views/settings-modal.html -->
<div id="m-settings-modal" class="modal fade" tabindex="-1" data-sheet-start="0.55" data-sheet-min-visible="78">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content m-settings">
      <div class="modal-header">
        <h5 class="modal-title" id="m-settings-title">Settings</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="m-settings-sections" class="m-settings-sections">
          <div id="m-settings-device-mount"></div>
          <div id="m-settings-animation-mount"></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

