<div id="chromalinkOptions">
  <button id="chromalinkConnect" class="chromalink-button" title="Connect to a chromalinked Duo">Connect Duo</button>
  <div id="chromalinkDetails" style="display: none;">
    <div class="duo-device-info">
      <img src="./public/images/duo-logo-square-64.png" alt="Duo Icon" id="duoIcon">
      <div id="duoInfo">
        <p id="deviceUpdateLabel"><strong>Device:</strong> Duo</p>
        <p id="deviceVersionLabel"><strong>Version:</strong> <span id="duoVersion"></span></p>
        <p id="deviceLatestVersionLabel"><strong>Modes:</strong> <span id="duoModes"></span></p>
      </div>
    </div>
  </div>
  <button id="chromalinkFlash" class="chromalink-button" title="Flash a custom Duo firmware">Flash Custom Firmware</button>
  <button id="chromalinkUpdate" class="chromalink-button" title="Flash latest Duo firmware">Update Firmware</button>
  <div class="chromalink-update-progress-container">
    <div id="firmwareProgress" class="chromalink-update-progress-bar">
      <div id="firmwareProgressBar"></div>
    </div>
  </div>
  <input type="file" id="firmwareFileInput" accept=".bin" style="display:none;" />
</div>
