<span class="mode-name">Mode {{index}} - {{name}}</span>
<div style="display:flex">
<div class="mode-btn-container" style="display: {{btnDisplay}};">
  <button class="share-mode-btn mode-btn" title="Share Mode"><i class="fas fa-share-alt"></i></button>
  <button class="link-mode-btn mode-btn" title="Get Link"><i class="fas fa-link"></i></button>
  <button class="export-mode-btn mode-btn" title="Copy Mode"><i class="fa-solid fa-copy"></i></button>
</div>
<button class="delete-mode-btn mode-btn" title="Delete Mode">&times;</button>
</div>
